[2013-06-28 08:44] cburbridge opened #12 "Parametrise fixed stuff."
Frames (odometry) and topic names should be parameterised.

[2013-06-28 08:45] cburbridge opened #13 "Boost bind"
MIRA callbacks are asigned with boost::bind. Currently a additional unused int parameter is used for each callback - need to remove.

[2013-06-28 08:47] cburbridge opened #14 "MotorStatus"
Need to publish motor status. New message format should be created and published from ScitosDrive module.

[2013-06-28 08:48] cburbridge opened #15 "Module initialisation"
The selection of modules created by ScitosG5 class constructor should be determined by what the robot has - if used on a non STRANDS Scitos robot, maybe different configuration is needed.

[2013-06-28 08:49] cburbridge opened #16 "MIRA initialisation"
MIRA initialisation completion should be detected in scitos_node.cpp. Right now a 5s delay is used, this should be replaced.

[2013-06-28 08:50] cburbridge opened #17 "Head lights"
A new service should be created in ScitosHead for controlling the light sequence.

[2013-06-28 08:53] cburbridge opened #18 "Default EBC parameters"
Need to add default EBC states to the launch file.

[2013-06-30 22:28] cburbridge opened #20 "Pan tilt"
Get the pan-tilt going. This will be a separate node, publishing JointState messages that the robot_state_publisher should read. The URDF then needs changing to have non-fixed joints to allow transforms to be correctly published.

[2013-06-30 22:48] cburbridge opened #21 "sick laser driver"
The care-o-bot driver for the S300 looks good (https://github.com/ipa320/cob_driver/tree/groovy_dev/cob_sick_s300), might be worth testing to see if the readings are less noisy with it than the ais-bonn driver.

[2013-07-01 08:41] RaresAmbrus commented on #21
I can take a look at this, it will take a while though as the KTH robots haven't arrived yet.

[2013-07-01 09:34] hawesie opened #22 "Rename and restructure package"
Rather than create a new repo for the drivers, we should restructure this to be a proper catkin package for the drivers, moving out the other contained packages to appropriate packages as described by [the software organisation page](https://github.com/strands-project/strands-project.github.io/wiki/Software-organisation).

[2013-07-01 17:53] cdondrup commented on #21
On first glance it does not seem to make a difference. Both are equally noisy. I didn't have time to play with parameters yet so I can't give you a final result. But it doesn't look very promising.

[2013-07-03 20:14] marc-hanheide commented on #22
in addition, the scitos_description should be removed here as it conflicts now with scitos_common

[2013-07-03 20:26] kunzel commented on #22
@marc-hanheide scitos_common is actually a meta-package (aka stack) and scitos_description is one package in scitos_common. Currently it is the only one, but potentially there is room for more (please confer pr2_common for other examples). I think it looks a little bit strange as packages cannot be nested anymore with catkin. But this is how it is I guess. What do you think?

[2013-07-03 20:30] kunzel commented on #22
Oh, did you mean the 'old' scitos_description package in scitos_mira? Then I agree, it can e removed.

[2013-07-03 20:37] marc-hanheide commented on #22
Yes, that's what I meant

[2013-07-14 20:44] cburbridge opened #25 "Create new repository"
We need a new repo named

"scitos_robot" : This stack collects SCITOS-specific components that are used in bringing up a robot.

as discussed on the Software Management page on the wiki. I have insufficient privileges to create new repositories in strands? @hawesie ~ @marc-hanheide  please create it...

[2013-07-14 21:05] marc-hanheide commented on #25
I can create it, originally I created a repository called "scitos" which currently only contains the stuff taken from the USB stick that came with the robot. I wonder if it is better to simply delete this and put the content somewhere else or to re-structure that one so it fits you needs. Opinions? @cburbridge, you choose. I could also add you to the owners, but @hawesie should have his say there.

[2013-07-14 21:08] cburbridge commented on #25
I think change the name of the scitos => scitos_robot would be best. The content there could go into a folder in a some general data store.

[2013-07-14 21:12] marc-hanheide commented on #25
agreed... done. I leave the reorganisation to you.

https://github.com/strands-project/scitos_robot

I reckon we don't need this private, do we?

[2013-07-14 21:15] cburbridge commented on #25
Public is no problem. Thanks Marc.

[2013-07-14 21:15] #25 closed, assigned to nobody

[2013-07-15 14:47] #18 closed, assigned to nobody

[2013-07-16 19:27] cburbridge commented on #22
I have restructured as discussed. However, this repository now needs renaming to "scitos_drivers" ASAP as the system will not work until this is done. I don't have GitHub permissions @hawesie @marc-hanheide

[2013-07-16 19:34] marc-hanheide commented on #22
I have renamed it just now. @hawesie

[2013-07-17 09:41] #22 closed, assigned to nobody

[2013-07-18 14:02] cburbridge commented on #20
The pan tilt is now set up, and the URDF has approximate measurements and continuous joints. URDF model needs to be improved in scitos_description.

[2013-07-18 14:02] #20 closed, assigned to nobody

[2013-07-18 14:55] cburbridge commented on #15
Launch file now specifies which modules to load, for example the HRI head can be disabled independently of the drive system.

[2013-07-18 14:55] #15 closed, assigned to nobody

[2013-07-18 15:58] cburbridge commented on #21
Ok lets stick with this driver

[2013-07-18 15:58] #21 closed, assigned to nobody

[2013-07-19 11:26] cburbridge commented on #17
Set up as a topic, publish a scitos_msgs/HeadLightState to /head/cmd_light_state. Example formats in resources/

[2013-07-19 11:26] #17 closed, assigned to nobody

[2013-07-19 16:14] cburbridge commented on #13
Fixed - MIRA manages binding behind the scenes so don't use boost::bind myself.

[2013-07-19 16:14] #13 closed, assigned to nobody

[2013-07-19 17:07] cburbridge commented on #14
done.

[2013-07-19 17:07] #14 closed, assigned to nobody

[2013-07-30 16:40] cdondrup opened #37 "EyeLids doesn't work"
Just tried it on Linda but sadly:

[code]

does nothing. Where as moving the eye lids separately still works. Or am I using it wrong?

[2013-07-31 07:45] cburbridge commented on #37
That is strange. just tested and both this
`rostopic pub /head/commanded_state sensor_msgs/JointState '{ header: {frame_id:  }, name: ['EyeLids'], position: [10], velocity: [1], effort: [1]}'`
and the exact command you wrote work fine on Bob. Was there any error message from scitos_mira ?

[2013-07-31 09:14] cdondrup commented on #37
Your absolutely right. It works fine.
System was updated regularly but not restarted. So the last changes didn't have any effect. Works now and I am slightly embarrassed... Don't tell it to anyone ;)

[2013-07-31 09:14] #37 closed, assigned to nobody

[2013-08-01 08:14] cdondrup opened #38 "Laser driver: angle min == angle max?!"
This is part issue and part question:
I noticed yesterday that the angle_min and angle_max values are exactly the same in the /scan topic. So since the driver is not our code, does anyone have an idea why the code says:

[code]

Shouldn't it be a positive value for angle_max like in simulation?

[2013-08-02 14:35] #38 closed, assigned to nobody

[2013-08-02 14:36] cburbridge commented on #38
Oops! The original code only published either the full scan, or a trimmed scan with FOV 180 degrees. I changed it to allow any field of view trimming a while back, as on the robots we can get considerably more than 180 degrees - only a little needs trimming. However, in doing so I made this bug.

[2013-08-02 14:47] cdondrup commented on #38
Ah, ok. It still worked but just got me a bit confused.
Thanks for fixing.

[2013-08-20 16:52] cdondrup opened #40 "PTU JointState does not care about names"
I just noticed that the JointState message sent to /ptu/cmd is not parsed correctly. It will always take the first position argument as the pan and the second as the tilt even if the name field says something different. This leads to unwanted behaviour, e.g.:

[code]

will pan and not tilt.

[2013-08-20 21:10] cburbridge commented on #40
Yes, I noticed this too. It makes it impossible to control the tilt join without sending a position for the pan joint.
I'll fix it, but can't do it until Thursday.

[2013-08-22 16:00] cdondrup opened #41 "Slow odometry"
Does anyone know why the odometry is only published at about 10hz. This seems very slow to me. It would be nice if it could be at least as fast as the kinect (~30hz) otherwise the odometry would be the bottleneck and not the calculation heavy vision magic which would be very odd.
Is that some kind of mira related problem or is it maybe just a problem on Linda?

[2013-08-23 10:18] cburbridge commented on #41
I set at 10Hz as that appears to be the default MIRA value, but we can change it. It is set in the file `scitos_mira/resources/SCITOS-G5.xml`, line 10.

If you test and find that 30Hz, or even 100Hz has no negative effect on anything, we could change the repo. Alternatively, you could run scitos_mira with a different config file of your own by setting the  parameter config_file (scitos_mira node s

[2013-08-23 10:47] cdondrup commented on #41
Thanks for the tip. I will test it over next few days see if a higher frequency causes any problems.

[2013-08-23 11:15] cburbridge commented on #40
The merged fix should solve this problem.

[2013-08-23 11:15] #40 closed, assigned to nobody

[2013-08-23 13:59] cdondrup commented on #41
I just played with the parameters a bit and noticed some weird behaviour:
- If you set it to a value lower than 20ms, it won't publish anything (I only tried increments of 5 so anything between 15 and 20 might also work)
- The publish rate always starts to publish at the hz rate it last did before killing the scitos_node and then goes up very slowly. Took about 5 minutes to get up from 10hz to 30h

[2013-08-23 18:10] cburbridge commented on #41
I have no idea. This file is heavily  based on the example in /opt/MIRA-commercial, so it may have unnecessary things within it.
There is also an odometry interval within the Drive section, did you try playing with this to?

[2013-09-13 11:03] cburbridge opened #43 "PTU initialisation"
should create a service to reinitialise the PTU without having to turn cycle the power to it.

[2013-10-07 13:32] cdondrup commented on #41
Pull request #44 should solve the issue. Please re-open if your odometry is still slow.

[2013-10-07 13:32] #41 closed, assigned to nobody

[2013-10-08 13:36] gestom opened #45 "RGB-D camera topic /head_xtion/depth/points slowing over time"
The /head_xtion/depth/points gets slower and slower over time leading eventually to a halt - typically in a matter of days. Restarting the openni-related nodes does not seem to solve the problem.

[2013-10-09 16:57] RaresAmbrus commented on #45
Are you using the 600 or the 601 for this ?

[2013-10-10 08:54] cdondrup commented on #45
The 600 version.

[2013-10-10 08:59] RaresAmbrus commented on #45
I'm working on a ros wrapper around the openni 2.2 drivers (I think the ones currently in ROS are much older), I just have to convert it to a nodelet so that it's more efficient and I'll add it; maybe this will solve the issue.

[2013-10-11 09:58] RaresAmbrus commented on #45
@gestom
I've implemented a ros wrapper for the latest version of the openni drivers (v2.2) in the form of a nodelet, and I've tested it for about 24h (subscribed to the depth image, rgb image and colored point cloud) and I haven't witnessed a drop in framerate. This implementation is currently in my fork of the scitos_robot repo (https://github.com/RaresAmbrus/scitos_robot.git), and it's integrate

[2013-10-11 10:04] gestom commented on #45
Thanks. I will try it and get back with the results.
So far, we have "solved" the problem by restarting the openni stuff every time Linda is charging, but your solution seems to be much better. What framerate do you get on /head_xtion/depth/points ?

[2013-10-11 10:11] RaresAmbrus commented on #45
That depends. I am checking this using rostopic hz on the console, and the rate depends on what other topics I am subscribed to.

Currently I am running the patroller with all the processes and I am subscribed only to the depth image in rviz and I get about 29-30Hz. However, if I subscribe to the colored point cloud in rviz (depth_registered/points) then the framerate drops to about 15-18Hz. I'll

[2013-10-14 01:05] gestom commented on #45
@RaresAmbrus Hi Rares, your version of the driver has been running for three days now and did not get stuck, nor slower. Consider to open a pull request.

[2013-10-14 17:11] RaresAmbrus commented on #45
@gestom: Great! I'm currently out of town but I'll try to do it in the next couple of days. Also, this version of the driver seemed to work on the 601 as well for me - maybe you could give it a shot and see if you get good results?

[2013-10-14 18:52] marc-hanheide commented on #45
If that turns out to be true, you'll officially be our hero of the month if not year!

[2013-10-23 10:28] RaresAmbrus commented on #45
@gestom Hi Tom, thanks for trying this out. We've been using over here as well and it seems stable enough so I think I'll merge it to the trunk. One question though: I am using a 3rd party dependency (openni 2.2) which I've directly added in a "3rd_party" folder in the package - is that the way to proceed or do we want to keep 3rd party software in a different package / repository altogether ?

[2013-10-23 10:30] gestom commented on #45
@RaresAmbrus : I am not sure about what would be considered the best practice in this case. Maybe @marc-hanheide would know.

[2013-10-23 10:47] marc-hanheide commented on #45
Hi,

we don't have a proper management of 3rd party dependencies at the moment. But we have a similar case in strands_webtools. IMO, the preferred solution is _not_ to include binaries (not everybody uses the same Ubuntu, some even use a Mac, like @hawesie), but to include the OpenNI source code as a git submodule (see http://git-scm.com/book/en/Git-Tools-Submodules) to point to the tag 2.2 of ope

[2013-10-23 12:39] RaresAmbrus commented on #45
Hi,
Thanks for the info - keeping sources would be preferable, I agree, and in fact in the past I've used SVN in a similar fashion (via externals pointing to other repos). I'll take a look at git submodules and see if I can get it to work in the current setup.
However, sometimes it's good to keep track of binaries as well, as we're not sure what will happen to external repositories, they might get

[2013-11-05 11:41] nilsbore opened #47 "Mira charger issue"
Since this morning we've started getting the following messages from MIRA:

RNING ] 2013-Nov-05 12:36:23.189397 /robot/#Charger_7ebd59b2-67ab-48d1-8f94-eb5745275d4e : Booting up
[ WARN] [1383651384.251891514]: (MIRA) /robot/#Charger_7ebd59b2-67ab-48d1-8f94-eb5745275d4e : Booting up
[WARNING ] 2013-Nov-05 12:36:24.251775 /robot/#Charger_7ebd59b2-67ab-48d1-8f94-eb5745275d4e : Booting up
[ WARN] [138

[2013-11-06 13:25] RaresAmbrus commented on #47
We've experimented with a few things and we still get the same error. The problem is that one of the modules initialized by the mira framework, the charger module, does not get initialized properly; its status oscillates between booting up and operational. We're getting the same readings through MIRA's software - miracenter. We've also tried updating the MIRA packages without any luck. However, wh

[2013-11-06 18:59] chmartin21 commented on #47
The "Booting up" message indicates, that the charger (which is also the power supply unit) of the robot restarts its CAN-Bus interface. The charger provides an internal robot timer, which is used of synchronization of the different CAN bus modules. Furthermore, the motor controller (which is part of the MCU - main control unit) uses this clock to realize a watchdog behaviour. Only velocity command

[2013-11-06 20:06] RaresAmbrus commented on #47
Hi Christian,

Thanks for the update. We have added a second camera, from Primesense, but I doubt that's causing the issue, because the robot has been running with it for some time now. Other than that we haven't made any modifications.

Also if it will help you we can set the robot on a public IP so you can ssh to it and debug it "live".

[2013-11-07 14:15] RaresAmbrus commented on #47
@chmartin21
We've scheduled a demo of the robot next Friday, and we need to give an update tomorrow on whether we will be able to carry out the demo or not, thus we know asap whether the robot can be fixed quickly. It's impossible to teleoperate it in the current condition, as the CAN bus keeps restarting and this interferes with the motion of the robot.
If possible can you please ask someone to l

[2013-11-07 19:24] chmartin21 commented on #47
@RaresAmbrus
On thing, that you can do is to read out the persistent error memory of the robot. For that, you have to start miracenter with a configuration, which contains the SCITOS driver. Then go to the RPC console and execute the following RPC: /robot/Robot.savePersistentErrors("errors_2013-mm-dd.txt"). Depending on the number of errors this operation may take some time. Afterwards you can fin

[2013-11-08 09:41] chmartin21 commented on #47
@RaresAmbrus
For additional debugging it would be helpful for us, if you could record a tape with the incoming CAN messages. That can be done in the following way:
- Start miracenter with the configuration /opt/MIRA-commerical/domains/can/CANDriver/etc/CANDriver.xml
- Open the log file recorder, add the channel IncomingCAN
- Record a log file of 10-20sec
  Please send us the log file afterwards.

[2013-11-11 11:02] nilsbore commented on #47
So our robot is going in for repairs tomorrow. There seems to be something wrong with the connection between the PC and the basis electronics of the platform. Unfortunately, this probably means that we're out of the marathon. I will keep this issue open until we have a working robot again.

[2013-11-15 11:50] hawesie opened #48 "High PC load crashes scitos_node"
When I try running `rosrun marathon_touch_gui demo.py` on Bob, scitos_bringup.launch gives an error on scitos_node. Here are two different errors messages @BFALacerda  got in 2 different tries:

[code]

[code]

[2013-11-15 12:12] cburbridge commented on #48
https://github.com/strands-project/scitos_drivers/pull/46 should prevent the crash.

[2013-11-17 02:30] gestom opened #49 "Linda's mileage"
Lindas mileage topic does not seem to work correctly during the last few days. Although her patrol runs are approximately 30m long, it's mileage topic increases only by ~10m each run. The topic was OK until Thu Nov 14 12:14:29.

[2013-11-18 15:27] cburbridge commented on #49
I've not seen it here. What is the robots dosimetry reading like? Has that also gone bad?

[2013-11-18 15:52] Jailander commented on #49
Hi yes odometry is working perfectly, we don't know where the problem may come from, I can only tell you that it happened right after updating Linda.

[2013-11-19 09:37] marc-hanheide commented on #49
I just found this commit: https://github.com/strands-project/scitos_drivers/commit/332833f62cd017595900f00e1c8af492c5b1a7b5 which I find very suspicious, because our mileage is about 5 times less than it should be...

[2013-11-19 11:31] cburbridge commented on #49
This was a while ago, and did not effect it then. However, this file is the only way I can see something us doing being able to effect the mileage. It is simply a MIRA channel which I publish out as a ROS topic, and I guess it is calculated in firmware. Did you update MIRA recently? (is there even a newer version that ours?)

[2013-11-19 16:48] cdondrup commented on #49
@marc-hanheide the odometry changing pull request you mentioned was tested on Linda for a few weeks before we merged it into the master. So I don't think that this has anything to do with it. Otherwise we would have noticed.

[2013-11-19 21:03] Jailander commented on #49
No we haven't update MIRA in a while. But you are right @cdondrup tried that commit a while ago and there didn't seem to be any problem.

[2013-11-21 00:52] marc-hanheide commented on #49
Could this be related to us setting the force on the robot, e.g. a side effect or an implementation bug? Was it about the time we implemented the ramp behavior?

[2013-11-21 09:22] marc-hanheide commented on #49
@chmartin21 have you got any other idea what could cause the mileage to be screwed up on the robot. We just publish the mileage as reported by MIRA, can we easily check something?

[2013-11-21 10:00] chmartin21 commented on #49
Can you have check the property "MainControlUnit.TotalMileage" of the authority Robot?

[2013-11-21 11:39] Jailander commented on #49
Hi, @cburbridge and @chmartin21 Can you tell me how to get this I had never worked with MIRA before.

What I have tried so far is running miracenter then open the RPC console, my original intention was to run /robot/Robot#builtin.getProperty("MainControlUnit.TotalMileage") but TAB was not working for this so by doing TAB I got to run this
![miracenter](https://f.cloud.github.com/assets/5035967/159

[2013-11-21 11:43] chmartin21 commented on #49
You have to start miracenter with a configuration, which contains at least the driver for the SCITOS. For example, you can use /opt/MIRA-commercial/domains/robot/SCITOS/etc/SCITOSDriver.xml.

[2013-11-21 12:12] Jailander commented on #49
hi @chmartin21 that seems to work better but now I get this

Enter your RPC calls or type 'help' for more information.

Any Ideas?

[2013-11-21 12:19] chmartin21 commented on #49
Looks not good: The SCITOS driver seems not be able to detect any module of the robot. I assume, that you are getting some error messages on the console. Or at least the robot authority is not green in the AuthorityView. Probably the driver tries to use the wrong CAN bus interface. The SCITOSDriver.xml assumes, that you have create a SCITOSRobotAttributes.xml file (http://www.mira-project.org/MIRA

[2013-11-21 12:31] Jailander commented on #49
Hi yes I didn't realise I was getting this error when launching the miracenter.

[ERROR   ] 2013-Nov-21 12:27:39.720789 /robot/can/CANDriver Exception while invoking Runnable: Permission denied
[ERROR   ] 2013-Nov-21 12:27:39.721155 Exception:
[boost::exception_detail::clone_implboost::exception_detail::error_info_injector<boost::system::system_error>] Permission denied

however the SCITOSRobotAtt

[2013-11-21 12:59] chmartin21 commented on #49
The MLCAN uses /dev/ttyUSB2. To access this device, the user must belong to the group dialout. Does your user account have read permission on /dev/ttyUSB\* ?

[2013-11-21 13:50] Jailander commented on #49
Hi, I finally got it done, the problem was that /dev/ttyUSB2 was only accessible by root.

the mileage we are getting from ros is 290966.59375 whilst the mileage on MainControlUnit.TotalMileage is 307413 that is the problem

[2013-11-21 14:37] chmartin21 commented on #49
You also can read the channel /robot/Mileage, which contains the total mileage with a higher precision. Now you can drive a certain distance and compare the mileage with the real distance.

[2013-11-21 15:49] marc-hanheide commented on #49
so, we tried to get to the bottom of the this. First, here are the relevant source code lines:

[code]

then subscribe to MIRA:

[code]

So, we are subscribing to the /robot/Mileage channel which is supposed to be more precise, I understand.

Then the callback:

[code]

Because this all looked fine, we tested pushing the robot around both in MIRA and our software. Here's a video of our little expe

[2013-11-21 16:13] chmartin21 commented on #49
Here are some more details about the mileage computation:
- The motor controller unit of the robot has a built in mileage counter, which counts the total mileage in [m]. The value is stored persistent in the EEPROM memory.
- The property MainControlUnit.TotalMileage gets the persistent value of the EEPROM.
- During the start of the SCITOSDriver, the total mileage is read one time from the EEPROM.

[2013-11-22 10:29] marc-hanheide commented on #49
That would be much appreciated. We have also tested the odometry when pushing slowly. That is correctly updated (we would have massive localisation issues otherwise). Note, that we have changed the update rate of odometry from 10 Hz to 50Hz, just to give a hint.

[2013-11-22 11:22] cburbridge commented on #49
@BFALacerda mentioned that we also have incorrect mileage now...

[2013-11-22 11:56] chmartin21 commented on #49
@all: We were able to reproduce this issue: The incorrect mileage is caused by a precision issue within the SCITOS driver. The total mileage is stored in [m]. During slow movements the odometry increments at 50Hz are very small. Adding such small values to a value of some hundred kilometres will lead to precision errors, since the driver uses only standard floating precision for the mileage.

We f

[2013-11-22 12:00] marc-hanheide commented on #49
@cdondrup has been working on another solution as well I believe.

[2013-11-22 13:28] Jailander commented on #49
Yes @cdondrup implemented yesterday a solution based on odometry, you can find it here https://github.com/strands-project/strands_utils/tree/master/odometry_mileage

[2013-11-22 16:09] cdondrup commented on #49
So far it only publishes the mileage since the start of the node using the odometry and double precision.
To have a total mileage there are two possible solutions:
1. Read the /mileage topic on start of the node (because the mileage seems to be correct after restarting the robot and is just not incremented correctly - still have to test this)
2. We can store the latest mileage in the datacentre an

[2013-11-22 16:31] Jailander commented on #49
I like datacentre approach specially because it will be useful in simulation too, however, we can call this current mileage and is a topic that will tell us how much the robot has run since started, wich is specially good for the marathon.

Any ideas on what to do for the Marathon statistics?

[2013-11-22 18:19] cdondrup commented on #49
https://github.com/strands-project/strands_utils/issues/45 presents a solution to the mileage problem. The node initialises itself from a mileage paramtere which can be set to the current mileage of your robot before you start the node for the first time. Afterwards the node saves the current mileage to the datacentre regularly.
The only thing that has to be changed is that the statistics would ha

[2013-11-22 18:32] cdondrup commented on #49
It's already a 400m difference since we started it the first time about 20 to 30 minutes ago.

[2013-11-28 13:00] nilsbore commented on #47
We were planning on joining the marathon late but the robot hasn't returned yet (it should arrive today or tomorrow), so there will be little time for us to set something up. We will try to beat the best mileage next week though=P.

[2014-03-10 14:04] marc-hanheide opened #50 "change MIRA parameters on the fly (exposed through ROS service or param)"
we would like to able to change the "force" parameter in MIRA on the fly to be able to go up and down our ramp safely. In general, we should expose the MIRA params through ROS params or a dedicated ROS service, whatever is more feasible. This has been suggested by @gestom and @Jailander.

[2014-03-18 16:55] Jailander opened #51 "Create udev rules for usb devices"
Hi,
I think we should create a set of udev rules for our usb devices. Right now we created this rules for Linda so the laser is connected to /dev/laser instead of /dev/ttyUSB0 and the can bus to /dev/can instead of /dev/ttyUSB2.
This would only mean replacing the name for these devices on:

[code]

@gestom can send instructions on how to do this but he would need to make sure that the device IDs f

[2014-03-19 09:59] cburbridge commented on #51
In general, sound like a nice idea. But why did you do it? We never had any problem with those devices being confused... I'm sure @marc-hanheide was a previously against using udev rules for the joystick?

[2014-03-19 10:02] gestom commented on #51
We had to add a USB-controlled device that allows to switch the docking light on and off independently of the cameras.

[2014-03-19 10:03] gestom commented on #51
That device appears sometimes as ttyUSB5 and sometimes as ttyUSB0.

[2014-03-19 10:08] marc-hanheide commented on #51
Was I? I don't recall that... Did I give a reason?
On 19 Mar 2014 09:59, "Chris Burbridge" notifications@github.com wrote:

[2014-03-19 11:10] cburbridge commented on #51
The scenario you gave: A new student plugs in the joystick and can't figure out why he doesn't get a /dev/input/js[01], wastes time when it turns out a UDEV rule lurking somewhere has changed the normal device path. "It worked my laptop/pc, why is it not working on the robot?"

I'm certainly for UDEV rules, we have one for the joystick here. However, we need to document them, especially if we use

[2014-05-05 09:18] cburbridge opened #55 "PTU Action Server Move"
I would like to move the flir_pantilt_d46 action server out of that package and into somewhere in scitos_apps. This is so that anything depending on it (metric maps, object instance checking) can be built and run on simulation machines without the scitos_drivers repo. @kunzel we talked about this a while ago..

There is already a PTU action server in scitos_apps: https://github.com/strands-project

[2014-05-05 09:21] kunzel commented on #55
Sounds good to me

[2014-05-05 09:21] nilsbore commented on #55
I only use the flir_pantilt_d46 action server. Since I had the problem of this being in scitos_drivers when I wanted to test it in simulation, I think this is a good thing™.

[2014-05-05 09:22] nilsbore commented on #55
Note that https://github.com/strands-project/strands_morse/pull/64 has to be merged for it to actually work.

[2014-08-27 14:19] hawesie opened #60 "Remove sick300"
We should now use the official ros version: https://github.com/bohlender/sicks300

[2014-09-02 09:46] marc-hanheide commented on #60
yes, now that https://github.com/bohlender/sicks300/pull/2 has been merged.

[2014-09-02 09:47] marc-hanheide opened #61 "remove flir package from this repo"
... and use the official release instead: http://wiki.ros.org/flir_ptu_driver

[2014-09-02 09:52] marc-hanheide opened #62 "prepare for release"
This repository needs a little work according to the plans outlined in https://github.com/strands-project/strands_management/wiki/software-distribution

Most importantly, we need to integrate the automatic use of MIRA (and to remove the flir and sick packages). MetraLabs have now released it under GPL and also provide binaries here: ftp://ftp.mira-project.org/repos/MIRA-main/ubuntu-1204lts-x64/bas

[2014-09-02 10:43] cdondrup commented on #61
What about the changes made in: 1698d0b9bf76bd146f3af5e80276e278e74a02d0 ?

[2014-09-02 12:30] marc-hanheide commented on #61
oh... you're right... I just checked if I can simply pull in these changes into a fork and file a pull request. But they official driver has been refactored massively, so I'd have to reimplement this, I suppose :angry: But I understand this was only needed for the memory game, was it? So, it's not urgent?

[2014-09-02 12:40] cdondrup commented on #61
It's also used for some of the idle behaviour in the nhm system which increases it's urgency only slightly. Can we keep a copy of the current version somewhere to still be able to run the nhm system at PR events?

[2014-09-02 12:41] marc-hanheide commented on #61
sure we can... but the change is so small that it would probably be easier to just reintroduce it into the official version.

[2014-09-02 12:43] cdondrup commented on #61
Just thinking about our upcoming event.

[2014-09-02 13:10] cburbridge commented on #62
I can't see the scitos robot packages in the open source MIRA release, only the MIRA framework. Am I missing something?

[2014-09-02 13:13] marc-hanheide commented on #62
You're right... We should enquire with MetraLabs if we'd be allowed to put
debs up for that one.

[2014-09-03 09:08] cburbridge commented on #60
is the official one packaged as a deb in the ros repositories?

[2014-09-22 12:19] marc-hanheide commented on #60
Not sure, is it not? If it isn't we can fork it and package it ourselves.

[2014-09-22 13:26] marc-hanheide commented on #60
it's not in the hydro repos. So I forked it and released it ourselves. See https://github.com/strands-project/rosdistro/pull/27

[2014-09-22 13:33] marc-hanheide commented on #60
so... it seems it has now been successfully built. I think we can remove it now from here

see build log: http://lcas.lincoln.ac.uk/jenkins/job/ros-hydro-sicks300_binarydeb_precise_amd64/1/

[2014-10-01 11:34] #60 closed, assigned to cburbridge

[2014-10-14 10:54] Jailander commented on #50
Is there any news if this is possible maybe now that @chmartin21 is at Birmingham it could be possible to have feedback on this

[2014-10-14 11:00] cburbridge commented on #50
@chmartin21 is the force parameter controllable via a MIRA RPC call?

On 14 October 2014 11:54, Jaime Pulido Fentanes notifications@github.com
wrote:

[2014-10-15 11:29] marc-hanheide commented on #62
update: I have now released a MIRA version and have updated and released a first version of `scitos_drivers` accordingly to use it.

There is a [MIRA debian "packager"](https://github.com/strands-project/dh_bin_wizard) which creates an Ubuntu package named [`mira-scitos`](http://lcas.lincoln.ac.uk/repos/building/pool/main/m/mira-scitos/) with a full MIRA install and all SCITOS packages. This is in

[2014-10-15 11:48] marc-hanheide commented on #61
That official driver is quite different in structure, topic names, etc. I'm not quite sure we want to invest effort at the minute to change everything for this driver as ours is working nicely. This really would mean quite a bit of refactoring IMO.

What's @cburbridge's and @hawesie's view on this?

If you agree not to do it, then please close as won't fix.

[2014-10-15 19:01] cburbridge commented on #61
I agree, no real need to hurry this as long as it doesn't cause release
problems..

On 15 October 2014 12:48, Marc Hanheide notifications@github.com wrote:

[2014-10-15 19:45] marc-hanheide commented on #61
nope, it won't as the "official" one has a different name anyway.

[2014-10-15 19:45] #61 closed, assigned to marc-hanheide

[2014-11-04 16:38] nilsbore opened #67 "[flir_pantilt_d46] Install ptu_action_server.py"
When I use the launch file on the robot with the package intalled via apt-get it can't find the ptu_action_server.py node within this package. I don't see it in the Cmake file either. Is this a bug?

[2014-11-04 22:05] marc-hanheide commented on #67
I just submitted #68 which should fix it.

[2014-11-04 22:38] nilsbore commented on #67
Great, will try it tomorrow!

[2014-11-05 09:12] #67 closed, assigned to nobody

[2014-11-06 12:07] lucasb-eyer opened #70 "EBC Power coming very late"
So, we installed everything using `apt-get` and have a problem with `scitos_mira.launch`. It seems the `EBC-0` doesn't give any power for about `160.449861643` seconds, until we get the message saying `EBC7` (and `MotionTracking`) is booting up. Is this something others experienced? Are we doing something wrong? See the relevant output below:

[code]

(It's important because our switch is powered

[2014-11-06 12:18] lucasb-eyer commented on #70
If after waiting for that time, we stop the launchfile and start it again, the power goes off. Both `Status` and `Error` lights are off, `Run` is green.

I've now been waiting for almost 10 minutes for it to come back up, to no avail. Will update when/if it does.

[code]

[2014-11-06 12:27] lucasb-eyer commented on #70
During the time between the `WARNING` and `INFO` messages (for about 3-4 seconds) the `Status` light is orange, power flows, but then switches off again.

[2014-11-06 12:31] lucasb-eyer commented on #70
Another thing I noted: On the robot's small screen on the side, in the "EBC Menu", all three `EBC 7-0` entries go on for the time there's power, and then all switch back to OFF. If I turn on the 12V one manually, we have power again.

[2014-11-06 12:45] ToMadoRe commented on #70
By default, the scitos_mira driver disables all ports from EBC0 and EBC1 no matter what the status was before you launched it. Previously, there was a file `scitos_mira/cfg/EBCParameters.cfg` where you could change your default values but this does not exist in the release debian version any more.

@marc-hanheide told me that there is probably a way to set these parameters in the launch file but I

[2014-11-06 12:55] marc-hanheide commented on #70
The file isn't there, simply because it is a source file. the correct way of doing this is to set a `<param>` in the launch file (see https://github.com/strands-project/scitos_drivers/blob/hydro-devel/scitos_mira/launch/scitos_mira.launch). We could of course out different defaults in the released packages (should everything be one?). But you can also set this is the launch file. I want to get the

[2014-11-06 13:01] ToMadoRe commented on #70
Would it be possible to just no change the state ot the outputs and rather leave them as they were before you launched the file? There is the possibility to set the EBC ports to a default state when you turn on the robot - so you actually don't have to define defaults twice.

[2014-11-06 13:05] marc-hanheide commented on #70
I don't know, @cburbridge should.

[2014-11-06 13:29] cdondrup commented on #70
There is the parameter set:

[code]

Which should allow you to set the state of the EBC in the linked launch file. This means on the other hand that those would have to be added as arguments to the launch file so that you can freely configure them on start-up.

We could also just set the default value of all the EBCs to true... Not sure if that would have any negative effect.

[2014-11-06 13:32] lucasb-eyer commented on #70
If it doesn't have negatives, I'd be in favor of all on by default, that'd reduce complexity.

[2014-11-06 13:53] marc-hanheide commented on #70
changed in #71 shall be released shortly

[2014-11-06 13:53] cdondrup commented on #70
Just to clarify, I didn't mean that as an OR. I think we should definitely add the arguments to the launch file and maybe additionally set the defaults to `True`

[2014-11-06 13:55] marc-hanheide commented on #70
true, but setting them on by default also makes sense IMO

[2014-11-06 13:57] #70 closed, assigned to nobody

[2014-11-07 12:57] hawesie opened #73 "Add support for magnetic strip detection"
We need the mira driver to support the detection and reseting of magnetic floor tape in time for the marathon. @cburbridge and @creuther will look at it.

[2014-11-10 20:10] lucasb-eyer opened #75 "EBC Power shutting off?"
So it's our switch again. It's connected to the EBC-0 port in the same place as the cables that go up to the head and are supposed to power the Manta stereo-cameras. That's the 12V slot.

Sometimes, seemingly randomly, that specific EBC port shuts off. Most of the time, it's only the EBC-0 12V, the others (6V and 24V) are still running.

One way I can reproduce this is using the docking tool `rosr

[2014-11-10 20:22] cdondrup commented on #75
That is because Linda has a lamp on this Port and @gestom is reconfiguring it during docking to turn on the light and turns it off afterwards.

[2014-11-10 20:22] lucasb-eyer commented on #75
Oh well, this is [programmed behavior](https://github.com/strands-project/scitos_apps/blob/hydro-devel/scitos_docking/src/scitos_docking/CLightClient.cpp#L19).

@gestom you wrote that line. Did you put a light in there and just hardcode it to that EBC port? We put our switch on that port. Next time we meet, I'll kick you for that!

[2014-11-10 20:22] lucasb-eyer commented on #75
Heh, talk about timing.

[2014-11-10 20:23] cdondrup commented on #75
Same behaviour cost us a day before the deployment in Vienna because the PTU was connected to that port...

[2014-11-10 20:31] lucasb-eyer commented on #75
working on a fix...

[2014-11-10 21:13] lucasb-eyer commented on #75
Gonna be fixed in strands-project/scitos_apps#119. Closing this until I can reproduce the other shutting off I got some times.

[2014-11-10 21:13] #75 closed, assigned to nobody

[2014-11-12 16:24] #62 closed, assigned to cburbridge

[2014-11-12 16:27] marc-hanheide opened #80 "[scitos_mira] add respawn=true to the scitos_mira launch file"

[2014-11-13 18:04] cdondrup commented on #80
Closed via #81

[2014-11-13 18:04] #80 closed, assigned to Jailander

[2014-11-17 16:23] cdondrup opened #83 "[scitos_drivers] Missing run_depend for scitos_bringup"
`scitos_bringup` is not in the metapackge of this repo.

[2014-11-17 22:19] marc-hanheide commented on #73
I think @gestom did this (His github interface @Jailander to report ;-) )

[2014-11-17 22:22] marc-hanheide commented on #50
Again, I think @gestom implemented this, @Jailander ?

[2014-11-17 22:23] Jailander commented on #73
yes @gestom did it and was merged on this pull request https://github.com/strands-project/scitos_drivers/pull/82

[2014-11-17 22:23] Jailander commented on #73
This was an auto message as he is not here

[2014-11-17 22:24] Jailander commented on #50
again yes also in this PR https://github.com/strands-project/scitos_drivers/pull/82

[2014-11-17 22:25] Jailander commented on #50
I will tell him that documentation is needed urgently

[2014-11-17 22:36] marc-hanheide commented on #73
so, let's close it with some documentation that @gestom posted on https://github.com/strands-project/scitos_common/pull/49:

[2014-11-17 22:36] #73 closed, assigned to nobody

[2014-11-17 22:37] marc-hanheide commented on #50
:+1: if no documentation is there, here's some insightful PR: https://github.com/strands-project/scitos_common/pull/48/files introducing the service to call for setting the force.

[2014-11-17 22:37] #50 closed, assigned to cburbridge

[2014-11-18 16:44] creuther commented on #73
On Bob, we had the problem that the relevant Main Control Unit (MCU) flag for using the magnetic sensor wasn't set by MetraLabs. As the relevant tools aren't publicly available as well, here is a guide on using the "low level tools" to enable the flag:
(make sure that no instance of MIRA is accessing the CAN bus)

This will yield the current value of this register. If it is 0x90, everything's peac

[2014-11-18 17:47] lucasb-eyer opened #87 "PTU totally off when exceeding limit"
You can test by doing the following; note that position is in radians:

[code]

This moves it to what it thinks is `0,0`. Now, make it rotate more than it can:

[code]

4 Radians is more than 180deg, so it will hardware-block at around 181deg. Now, go back to 0:

[code]

As you will notice, it goes far beyond what previously was 0. Exactly so much more than what it couldn't rotate in the `4` step:

[2014-11-18 17:48] lucasb-eyer commented on #87
This is most likely the root cause of strands-project/strands_recovery_behaviours#19

[2014-11-18 21:45] marc-hanheide commented on #87
did you hear a funny sound? This sounds to me as if your PTU hit some obstacles. If it does, it is miscalibrated and only a restart fixes that. This can also happen if it's going too fast, not only when it hits the limits. Indeed, we have disabled checking the limits: https://github.com/strands-project/scitos_drivers/blob/hydro-devel/flir_pantilt_d46/launch/ptu46.launch#L11

This is to be able to

[2014-11-18 21:51] ghost commented on #87
I would say that that is exactly describing what was happening, the weird
sound made me feel uncomfortable already. However what I don't get is that
the angle in the recovery behaviour was only 179, so not even the full 180
(and even though it can go to something like 182). Still we were having
these issues. I might of course be wrong and that it was actually some
other component that "overturned"

[2014-11-18 21:53] lucasb-eyer commented on #87
Yes, we hear the sound, and I think it comes from hitting the hardware limit, you can see a small knob in the front that it hits when reaching the limit. Well I try these extreme values for debugging, but this is a real problem in practice, because someone, somewhere exceeds the limits and our PTU's 0 was off, which hinders docking and potentially much more.

Either we re-enable the limits, or the

[2014-11-18 21:57] cdondrup commented on #87
I would strongly argue against reintroducing the limits. Turning the PTU 180 degrees is very useful in many cases.

[2014-11-18 22:01] marc-hanheide commented on #87
Yes, the limits are _very_ tight. We wouldn't be able to look back with them in place. The problem is that the PTU uses a servo, i.e. it doesn't measure the position but counts ticks sent to the motor. So, if it's off, it's off until recalibrated. Nothing we can do about that. Can still happen with the limits in place, e.g. when going fast and having one of the cables being trapped. It might howev

[2014-11-18 22:03] lucasb-eyer commented on #87
I'm always for fixing the root of a problem instead of working around, but I'm not for spending tomorrow hacking on PTU code :)

Of course, I could also hunt down the culprit node, get mad at its author, rinse&repeat for all other times this will happen...

[2014-11-18 22:05] marc-hanheide commented on #87
And you are sure it isn't just the speed or you somehow blocked the PTU?

[2014-11-18 22:08] lucasb-eyer commented on #87
I'll have to check the speed tomorrow. No blocking, no.

[2014-11-18 22:09] marc-hanheide commented on #87
OK, let's leave it for now. I want to see it happening myself ;-)

[2014-11-19 09:05] lucasb-eyer commented on #87
There's no re-calibration code in the ros PTU driver, so I have to switch the whole robot off and on again for the PTU to recalibrate, which of course kills the long-term idea. Let's see how things go today.

[2014-11-19 09:09] cdondrup commented on #87
You could try to reconfigure the EBC the PTU is on. Same effect.

[2014-11-19 09:11] lucasb-eyer commented on #87
Great idea, thanks!

[2014-11-19 09:21] nilsbore commented on #87
I confirmed the issue that you had with backtrack, 179 seems too far. Since our robot is patrolling the whole day I can't test the maximum angle. @lucasb-eyer @AlexanderHermans Would you guys be able to see how far the pan can go with tilt=30? Then I can change the values in the backtrack code. Would be much appreciated.

[2014-11-19 09:31] lucasb-eyer commented on #87
Do you have a better plan testing this, other than going almost there and then stepping 1-by-1 and listening to the noise?

[2014-11-19 09:34] nilsbore commented on #87
You don't need to go to the absolute maximum. Maybe just go to something like 175 and see if it's ok after turning back and forth a couple of times.

[2014-11-19 09:34] lucasb-eyer commented on #87
Ok, will do later today.

[2014-11-19 10:00] marc-hanheide commented on #87
Just wondering if there might be a conflict with @cdondrup's "look at nav goal" behaviour that kicks in here sending the PTU out of limits?

[2014-11-19 10:04] cdondrup commented on #87
look at nav goal just makes the head move. No PTU involved

[2014-11-19 10:21] marc-hanheide commented on #87
Of course. Stupid me.

[2014-11-19 13:28] nilsbore commented on #87
@lucasb-eyer  If you haven't gotten there yet, could you try @marc-hanheide 's suggestion of -175 instead? I'll go with that if it seems better.

[2014-11-19 13:31] cdondrup commented on #87
I agree, if you want to turn the PTU to the back use -180. Prevents it from getting tangled up in the cables.

[2014-11-19 17:18] nilsbore commented on #87
See https://github.com/strands-project/strands_recovery_behaviours/pull/21

[2014-11-20 11:45] lucasb-eyer commented on #87
We ran for a whole day with multiple backtracking instances and in the evening, the PTU was still perfectly aligned, so it doesn't seem to be the backtracking. Didn't get the chance to test docking yet, though @cdondrup [said](https://github.com/strands-project/scitos_apps/pull/120#issuecomment-63786074) that works fine for them.

[2014-11-23 15:08] bfalacerda opened #89 "can bus error"
[code]

Then more of the missing head angle stuff. Show stopper.

[2014-11-23 17:14] nilsbore commented on #89
We had the same problem just now, could have been computer load that caused it.

[2014-11-23 17:14] nilsbore commented on #89
But we haven't seen it at all for the week that we've been running the system here now...

[2014-11-23 17:20] cdondrup commented on #89
Had the same error today in the morning...

[2014-11-23 17:24] nilsbore commented on #89
So this is a new one then?

[2014-11-23 17:24] nilsbore commented on #89
Might it have something to do with the magnetic strip stuff?

[2014-11-23 17:42] bfalacerda commented on #89
I don't see how, but @cburbridge ?

[2014-12-01 13:55] nilsbore commented on #47
Ok, this was fixed and I think the cause was us messing around with the display. Closing.

[2014-12-01 13:55] #47 closed, assigned to nobody

[2014-12-01 14:08] nilsbore commented on #55
@cburbridge Close this?

[2014-12-01 14:37] Jailander commented on #83
I think we should close this

[2014-12-02 10:51] #55 closed, assigned to nobody

[2014-12-02 15:46] cburbridge commented on #89
Not sure, I've forwarded to christian...

[2014-12-03 10:19] creuther commented on #89
Don't really know how the new stuff could be responsible for this, especially across several robots, but I've forwarded it to MetraLabs. Just for diagnosing: Does the CAN bus/driver eventually recover? If not, what do you need to do to get it functional again? The next time this happens, can you see whether one of the EBC ports shows an error (in the status display)? Shouldn't be the case but who

[2014-12-09 18:02] #83 closed, assigned to nobody

[2015-02-12 20:14] mzillich opened #98 "cliff safety"
Hi there,

@nilsbore @hawesie @marc-hanheide

We need to ensure cliff safety somehow. A hardware solution using a cliff sensor, as currently investigated  by Christian Reuther, will be the best solution, but will take some time to be realised. Until then we need an Asus based solution.

The current solution with negative obstacles in the cost map is a good high level solution, but suffers from two

[2015-02-12 20:16] mzillich commented on #98
@creuther to also have you in the conversation

[2015-02-12 20:39] creuther commented on #98
As I have already discussed with @mzillich, to have this as stable as possible we need to separate the MIRA framework instance from the scitos_node thread. Right now the MIRA framework is instantiated by the scitos_node and is hence a child process.
It shouldn't be a problem having the MIRA framework running separately and then connecting to the instance using the regular MIRA networking / connect

[2015-02-12 21:22] nilsbore commented on #98
Sounds good! The only potential problem that I see is to decide if there are too few depth observations (a real cliff sensor). There are often missing observations in the depth sensors, due to shiny surfaces, sunshine or glass. So we will probably have to make some kind of trade-off between stopping too often and having a safe system. I think we'll be able to strike a balance there though.

[2015-02-14 20:44] cburbridge commented on #98
@creuther I am a bit late in reply, sorry. There was an issue in that the
MIRA binary supplied was compiled with
libogre different to that of rviz. I fixed the problem by compiling MIRA
from source with the same version and using that for the strands package.

Running MIRA in a complete separate process is nice. We did not do this at
the start as it seemed best to keep the overhead as low as possi

[2015-02-20 11:53] creuther commented on #98
An update on this as discussed with my boss and @mzillich:
MLAB will construct two 3D printed brackets that integrate with the screw holes already existing in the front shell of the robot. They will allow mounting two [TeraRanger One](http://www.teraranger.com/product/teraranger-one-distance-sensor-for-drones-and-robotics/) sensors to watch the floor at a distance of about 150% of the emergency br

[2015-02-23 08:53] marc-hanheide commented on #98
Have we got an ETA for this, @creuther ? I'm asking because I'd like this to be ready for the pre-deployment at AAF, i.e. 11/03/2015

[2015-02-23 09:11] creuther commented on #98
I hope to get it ASAP for development and evaluation here in BHAM, but I have yet to hear back from my colleague. I will try to get you an ETA soon; also good to have a deadline for when it should be ready.
The implementation and integration shouldn't be too complicated, so I think it's only a matter of designing, printing and shipping those mounting brackets and the sensors, as well as creating a

[2015-02-24 13:38] denisehe commented on #98
@mzillich - hey: when is it possible for you to come over to our site so that we can check the magnetic strip?

[2015-02-24 13:46] Jailander commented on #98
@denisehe yesterday @cdondrup and me installed the magnetic strip in the stairs in our lab I asked people from the lab if they had noticed it or it made them trip or feel insecure none of them had noticed it whilst walking on it just noticed it because they saw it. however they are all young mostly fit people so not sure how well it relates to AAF, but it might be useful for you to know.

![201502

[2015-02-24 13:50] denisehe commented on #98
hey thanks for the pictures and the information - the thing is that most elderlies do not lift their feet properly when walking but rather drag them along.

but if we could get such a strip we could see how it fits in our environment etc. :-)

[2015-02-24 15:54] cdondrup commented on #98
This is why I thought that we could put them where there is mainly staff, e.g. where Werner killed himself last year. Most of the other stairs seem to have large barriers any way.

[2015-02-26 15:15] denisehe commented on #98
hey - we got the magnetic strip today and put it out for testing - so far no coincidences!

how far away from the edge of the strairs do we need to stick the strip?

[2015-02-26 16:02] mzillich commented on #98
I think 1 m or so. @creuther what is the braking distance?

[2015-02-26 16:06] denisehe commented on #98
ufff thats far, the shorter the needed distance the better I can argue with staff responsible for security issues

[2015-02-26 16:11] Jailander commented on #98
Hi, we put ours at 40 cm, however when Linda was stopping around because of some magnets on the floor the braking distance was very short, but I would definitely not put it less than 30 cm away from the stairs, as it may also go backwards towards the stairs (now that I've said it).

think about it this way @denisehe the furthest away from the stair the less dangerous it is as people have more reac

[2015-02-27 06:48] denisehe commented on #98
hm okay. well sure - but the thing is if we stick it half a meeter away the magnetic strip is in den middle of the corridor - and than not a single strip is sufficient as we then have to conect the strip back with the staircase on the left and right side.

the staircases that are situated in Henry's driving area are actually emergency stairways => they are not regularly used (exept by the robot ;-

[2015-03-02 08:43] denisehe commented on #98
Positive News!!!! :-D

We can use the magnetic strips!

Best thing would be to stick them as close to the stairways as possible! Could you therefore test with what minimum distance safety is still guarateed?

Cheers Denise

[2015-03-02 10:38] mzillich commented on #98
Excellent! you saved me a bunch of grey hair |-)

[2015-03-09 13:55] denisehe commented on #98
hey, how can I get the picturs of the sensor up here?

[2015-03-09 14:01] cdondrup commented on #98
Drag and drop into the text field.

[2015-03-09 14:12] denisehe commented on #98
that, I like :-)

[2015-03-09 14:12] denisehe commented on #98
![20150309_140007](https://cloud.githubusercontent.com/assets/7699366/6556578/ba73f926-c66e-11e4-9662-9756d4ae791d.jpg)
![20150309_140013](https://cloud.githubusercontent.com/assets/7699366/6556582/bf8abdf0-c66e-11e4-8373-1f2686f74c62.jpg)
![20150309_140021](https://cloud.githubusercontent.com/assets/7699366/6556585/c2f54e9c-c66e-11e4-8914-98f884fefe4d.jpg)

[2015-03-23 09:42] marc-hanheide commented on #98
guys, we really need progress on this for the AAF pre-deployment, @mzillich @ToMadoRe !

[2015-03-26 09:19] ToMadoRe opened #104 "Re-enable motor after magnetic sensor detection"
Can someone tell me how to disable the motor stop after the magnetic sensor has detected a magnetic strip?

[2015-03-26 09:23] Jailander commented on #104
Hi. There is a service for it but I can't remember right now the name I'm not at the lab will be in 20 mins, but if you have the latest version of scitos teleop the start button should call this service

[2015-03-26 09:24] cdondrup commented on #104
Press start on the joy pad.
If that is not released, get the latest version. The service to call is something with barrier in it 😉

[2015-03-26 13:58] ToMadoRe commented on #104
Thanks!

[2015-03-26 13:58] #104 closed

[2015-05-11 10:45] cdondrup opened #107 "Add respawn flags to launch files"

[2015-05-12 15:23] #107 closed

[2015-10-16 10:50] bfalacerda commented on #89
Did we figure out what's happening here?

[2015-11-09 14:32] cburbridge opened #114 "Odometry channel frequency issues"
There seams to be a delay of about 400ms between commanding a velocity, and the odometry of the robot reporting that the current velocity is the one that was commanded.

The velocity being commanded is not outside of the acceleration limits of the robot.  **This is nothing to do with ROS topics** - it is the time between calling the MIRA service `callService<void>("/robot/Robot",  "setVelocity", s

[2015-11-09 14:34] cburbridge commented on #114
Any idea @creuther ? How is the odometry channel implemented in the robot firmware / MIRA drivers?

[2015-11-09 15:09] creuther commented on #114
I'll look into it but I'm afraid everyone who could help me @ MetraLabs is on business trips today.
On 9 Nov 2015 14:34, Chris Burbridge notifications@github.com wrote:Any idea @creuther ? How is the odometry channel implemented in the robot firmware / MIRA drivers?

—Reply to this email directly or view it on GitHub.

[2015-11-09 15:35] cburbridge commented on #114
https://github.com/strands-project/scitos_robot/issues/53 mentioned the option "CalculateOdometryFromDistance". I tried this, and it results in not as good odometry but faster with a message frequency I had expected:

![odom_hz](https://cloud.githubusercontent.com/assets/259580/11037738/45ffa1e0-86f7-11e5-8a03-063c061137fd.png)

However, even with this the odometry reports a current velocity lagge

[2015-11-10 08:45] creuther commented on #114
So within the SCITOSDriver software there is no built-in limiting or smoothing of the incoming odometry message rate, so it basically just takes them as they come. I am quite certain that the frequency of the odometry channel isn't entirely constant, but I lack the insight into the MCU / microcontroller software level to verify that assumption.

We actually did a similar plot quite a while ago, pl

[2015-11-10 09:42] cburbridge commented on #114
Yes, there will always be a slight unavoidable delay, but not 400ms. I think the actual velocity (odometry reported) should respond near immediately to a change in commanded speed, but not necessarily immediately be at the desired speed.  I get the impression that in the above plot on the first acceleration of the robot, when there is a wobble in green line there is a corresponding wobble in the b

[2015-11-10 10:58] creuther commented on #114
Still waiting to hear back about the microcontroller side of things re: inconsistent odometry frequency, but I might have a possible cause for some part of the 400ms delay.

Since MCU firmware 1.8.4 there is support for a ramp function regarding the acceleration, and apparently the default value will cause some ramping. There is a parameter **AccelerationUpdateInterval** in the SCITOSDriver to set

[2015-11-10 16:00] cburbridge commented on #114
It looks like this has made no difference...

[2015-11-12 10:07] cburbridge commented on #114
Here is a plot of the difference between the time stamp from a received odometry message and the time that the message was received:

![odom_time](https://cloud.githubusercontent.com/assets/259580/11115580/6a1c7ab0-8924-11e5-974c-0559693c79c7.png)

It follows a strange recurring pattern where the odometry gets further out of date, then resets itself at about 50ms. The difference is always in ~ 10m

[2015-11-16 14:30] g-gemignani commented on #114
Hello,

I have been talking with @cburbridge about this issue that we are also experimenting here at Magazino. I am posting our problems to help out the debugging process. I think that there might be some problems either in the robot firmware or in the MIRA software. Below you can find the reason why I believe this.

Here at Magazino, we are working with a Scitos X3. While debugging our navigation

[2015-11-16 14:50] creuther commented on #114
Thank you for that really valuable piece of debugging information! We are already looking into the issue, hopefully we can present some progress updates or even solutions soon!

[2015-11-18 10:26] creuther commented on #114
Ok, here is the latest. Please forgive me if some things aren't completely clear or sensible, I am not a hardware guy and am only relaying information for the most part.

In our Main Control Unit (MCU), i.e. the low level controller, there are two asynchronous processes for calculating and transmitting the odometry. They aren't synchronized to each other so the sending process will slowly drift aw

[2015-11-18 13:00] g-gemignani commented on #114
Hey Christian,

Thank you for the update. As you suggested I changed the OdometryInterval to 10ms and it looks like we got some improvements (even though it's really hard to tell). Is it possible to have the changed firmware to test it out here? Regarding your question about the visualizer, as far as I know, ROS should interpolate the laser pose.
Let me know if I can help out in any way with the d

[2015-11-27 09:12] g-gemignani commented on #114
Any news about this issue @creuther?
Thank you for your time!

[2015-11-30 15:12] creuther commented on #114
Sorry @g-gemignani no more news at the moment. We unfortunately don't release experimental firmware, but a new firmware version including the fixes should be released within the next 7-10 days. As soon as it's released I'll let you know how to update!

[2015-12-01 06:30] g-gemignani commented on #114
Actually @cburbridge a firmware update in the next few days is the exact news that I was hoping for. Thank you so much for the update! :)

[2016-02-08 16:17] marc-hanheide commented on #114
@creuther is this firmware update happening any time soon? We are currently observing strange issues with the TUW robot, having some delays that _could_ be related. @Jailander @cdondrup discovered this...

[2016-02-22 14:01] creuther commented on #114
We finally released firmware updates for the Main Control Unit (MCU) and IMU, which should fix the issues mentioned in my earlier comments. Sorry that it took so long.

Here is a quick walkthrough on how to update.

**1** Download files attached and verify MD5 sums.

`e71c63e5d3146a5bc9338c1e0c7e3541`  T001E183_MainControlUnit_HG2_v1.8.12.sfw
`756a367404c40ae5b041b77306713035`  T001E305_MotionTrac

[2016-02-22 14:05] cdondrup commented on #114
We will try to update Linda and perform a few tests yes. But we also lack Chris' elaborate testing suit. But I'm sure that by involving @gestom and @nilsbore we will be able to verify if it solves the issue.

Thank you!

[2016-02-22 14:07] marc-hanheide commented on #114
Thanks for this. @jailander can you please try this on Linda and then, after it is confirmed working, should update Werner as well.

[2016-02-22 14:17] Jailander commented on #114
yes we will try it on Linda as soon as possible, however, are we really sure we want to change this on Werner? after the time it took to detect and fix the overshooting problem we had at the pre-deployment I am not sure how confident we are that we can asses or in the worst case solve its performance remotely, any thoughts @marc-hanheide ? @creuther is there any way to backup the current firmware

[2016-02-22 14:32] creuther commented on #114
Unfortunately not @Jailander, but if you send me the version you currently have on the robot I can provide you with the firmware file for that. Should be 1.8.9 for the MCU and 1.0.2 for the IMU, but the scitosFirmwareLoader will be able to tell you which version it really is.

[2016-02-22 14:34] Jailander commented on #114
Ok that also works, I think @cdondrup already knows the version number, I'll get him to give it to you in a few minutes if he does

[2016-02-22 15:04] cdondrup commented on #114
No, sadly I don't. We had a few problems with segfaults when trying to update the firmware so I don't know the version.

[2016-02-22 15:09] nilsbore commented on #114
1.8.9 was the driver for the MCU on Werner. Don't know about the IMU. The segfaults were just on Linda I think.

[2016-02-22 15:09] nilsbore commented on #114
I am sadly not able to test this atm, we are sending another power board to Metralabs for inspection.

[2016-02-22 15:12] nilsbore commented on #114
I am happy to help out if you need any advise or anything, as I understood it, @cburbridge tested the odometry timings outside the ROS stack but if they look good even within we should be all set. Maybe we can e.g. check that the laser scan is moving more continuously with respect to the map (when rotating) as compared to the previous stuttering pattern? I think this triggered the initial investig

[2016-02-22 15:14] Jailander commented on #114
yes sorry my mistake, I knew at some point we found the version number I just didn't remember how or who, I am preparing some stuff for IROS today, as soon as I get some time I'll test this on Linda's arena and then we can decide what to do with Werner depending on input from @marc-hanheide

[2017-01-02 21:46] #12 closed